<div class="error-box">
    <div class="error-body text-center">
        <h1 class="error-title text-danger">401</h1>
        <h3 class="text-uppercase error-subtitle">ACCES INTERDIT</h3>
        <p class="text-muted m-t-30 m-b-30">VEUILLEZ VOUS CONNECTER AVANT D4ACCEDER A CETTE PAGE</p>
        <a href="#/authentication/login" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Se connecter</a> 
    </div>
</div>