<div class="row">
    <div class="col-lg-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">3257+</h1>
                        <h6 class="text-white">Twitter Followers</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fab fa-twitter display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">6509+</h1>
                        <h6 class="text-white">Facebook Likes</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fab fa-facebook-f display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">9062+</h1>
                        <h6 class="text-white">Subscribe</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
