/* >>> .ct-series-c .ct-slice-donut {
	stroke: rgb(236, 239, 241);
}
>>> .ct-series-d .ct-slice-donut {
	stroke: rgb(116, 90, 242);
}
>>> .ct-series-b .ct-slice-donut {
	stroke: rgb(38, 198, 218);
}
>>> .ct-series-a .ct-slice-donut {
	stroke: rgb(30, 136, 229);
}
 */
img{
	width: 5em!important;
}